/* styles/AccessDenied.module.scss */

.container {
    background-color: #121212;
    color: #f0f0f0;
    border-radius: 12px;
    padding: 40px;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  
    @media (max-width: 768px) {
      padding: 20px;
      max-width: 90%;
    }
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f7c300;
    margin: 20px 0;
  }
  
  .message {
    font-size: 1.2rem;
    color: #f0f0f0;
    margin-bottom: 20px;
  }
  
  .container img {
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  