/* styles/Navbar.module.scss */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #1a1a1a;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transform: translateX();

  &.closed {
    transform: translateX(-250px);
  }

  .toggle_button {
    position: fixed;
    top: 20px;
    left: 270px;
    background-color: #f9a825;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    transition: background 0.3s, transform 0.3s;
    z-index: 1100;

    &:hover {
      background-color: #f57f17;
      transform: rotate(90deg);
    }
  }

  .nav_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

    .nav_item {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px 0;
      border-bottom: 2px solid #e0e0e0;
      transition: background 0.3s, color 0.3s;
      cursor: pointer;

      &:hover {
        background-color: #424242;

        a {
          color: #f9a825;
        }
      }

      a {
        color: #e0e0e0;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        transition: color 0.3s;
      }
    }
  }

  .logout_button {
    margin-top: 50px;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: background 0.3s, transform 0.3s;

    &:hover {
      background-color: #b71c1c;
      transform: scale(1.05);
    }
  }
}
